.stack {
  --space: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * + * {
  margin-top: var(--space);
}

.stack-small > * + * {
  margin-top: var(--space) / 3;
}

.form__container--outer {
  min-width: 70%;
  padding: var(--space);
  max-width: 20rem;
  border: 2px solid var(--clr-primary-dark);
  align-items: flex-start;
  background-color: var(--clr-secondary-aliceblue);
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

label {
  font-weight: var(--fw-700);
}

input {
  max-width: 100%;
  border: 2px solid var(--clr-primary-dark);
  border-radius: 0;
  min-height: var(--s2);
  outline: none;
}

.text__container--outer {
  max-width: 70%;
  align-items: flex-start;
  padding: var(--space);
  font-family: var(--ff-secondary);
  border: 2px solid var(--clr-primary-dark);
  background-color: var(--clr-secondary-aliceblue);
}
